@use '../utils/' as *;

.hero-btn {
    display: flex;
    align-items: center;

    @include breakpoint-down(rem(720)) {
        display: none;
    }
    
    .btn {
        display: flex;
        align-items: center;
        margin: .7rem;
        cursor: pointer;
        position: relative;
        
        span {
            color: $white;
            font-size: rem(12);
            font-weight: 600;
            text-transform: uppercase;
            margin-right: .5rem;
        }

        .btn-circle {
            width: rem(30);
            height: rem(30);
            border: rem(1) solid $white;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;

            i {
                display: inline-block;
                color: $white;
                margin-left: rem(2);
            }
        }
    }
}

.return-top-btn {
    display: block;
    position: fixed;
    bottom: 6rem;
    right: 4rem;
    width: 2.8rem;
    height: 2.8rem;
    background-color: $secondary;
    font-size: rem(18);
    outline: none;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: .3s all ease-in-out;
    z-index: 99;

    @include breakpoint-down(rem(1080)) {
        display: none !important;
    }

    i {
        color: $white;
        margin-left: rem(1);
    }
}

.return-top-btn:hover {
    transform: scale(.85);
}