@use '../utils/' as *;

.why-choose-us {
    margin: 0 !important;
    background-color: $background-2;

    .content-header {
        margin: 0;
        padding-top: 6rem;
    }

    .swiper {
        position: relative;
        width: 70%;
        height: auto;
        background-color: $background-2;
        padding: 3rem 0 6rem 0;
        overflow: visible;
        text-align: center;
        background-color: transparent;
        overflow: hidden;

        @include breakpoint-down(rem(1320)) {
            padding-bottom: 1rem;
        }

        .swiper-wrapper {
            display: flex;
            align-items: center;
            width: rem(900);

            @include breakpoint-down(rem(1020)) {
                width: 90%;
            }
        }
        
        .swiper-slide {
            display: flex;
            justify-content: center;
            flex-direction: column;
            background: transparent;
            padding: 2rem;
            opacity: 1;
            text-align: center;
            width: auto;

            @include breakpoint-down(rem(1020)) {
                padding: 4rem;
            }

            @include breakpoint-down(rem(860)) {
                padding: 3rem 2rem;
            }
            
            h3 {
                font-size: rem(42);
                font-weight: 500;
                text-transform: capitalize;

                @include breakpoint-down(rem(860)) {
                    font-size: rem(36);
                    margin: 1rem 0;
                }

                @include breakpoint-down(rem(720)) {
                    font-size: rem(30);
                }
            }

            p {
                font-size: rem(20);

                @include breakpoint-down(rem(860)) {
                    font-size: rem(18);
                }
            }

            i {
                font-size: rem(40);
                color: $secondary;

                @include breakpoint-down(rem(860)) {
                    font-size: rem(34);
                }

                @include breakpoint-down(rem(720)) {
                    font-size: rem(30);
                }
            }
        }
    }
}