@use '../utils/' as *;

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: rem(80);
    background-color: $primary;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include box-shadow;

    @include breakpoint-down(rem(720)) {
        height: rem(130);
    }

    &--content {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include breakpoint-down(rem(720)) {
            flex-direction: column-reverse;
        }

        .copyright {
            font-size: rem(12);
            font-weight: 300;

            @include breakpoint-down(rem(720)) {
                font-size: rem(11);
                text-align: center;
            }

            span {
                color: $secondary;
                font-weight: 500;
                transition: .3s all ease-in-out;
            }

            span:hover {
                color: $secondary;
            }
        }

        .social-media {
            
            i {
                font-size: rem(30);
                color: $black;
                margin: 0 .2rem;
                cursor: pointer;
                transition: .3s all ease-in-out;
                opacity: .9;

                @include breakpoint-down(rem(720)) {
                    margin-bottom: 1.5rem;
                    font-size: rem(30);
                }
            }

            i:hover {
                color: $secondary;
                opacity: 1;
            }
        }
    }
}