@use '../utils/' as *;

.testimonial {
    width: 100%;
    background-color: $background-1;
    padding: 3rem 0;

    .content-header {
        margin-bottom: 1rem;
    }

    .swiper {
        position: relative;
        width: 70%;
        height: auto;
        background-color: transparent;
        overflow: hidden;
        text-align: center;

        @include breakpoint-down(rem(1320)) {
            width: 80%;
        }

        @include breakpoint-down(rem(860)) {
            width: 90%;
        }

        .swiper-wrapper {
            display: flex;
            align-items: center;
            width: rem(900);

            @include breakpoint-down(rem(1080)) {
                width: 90%;
            }
        
            .swiper-slide {
                display: flex;
                justify-content: center;
                flex-direction: column;
                background: transparent;
                padding: 3rem;

                @include breakpoint-down(rem(1320)) {
                    width: 100%;
                }

                @include breakpoint-down(rem(720)) {
                    padding-bottom: 6rem;
                }
            }

            h3 {
                font-size: rem(30);
                font-weight: 500;
                margin: 0;

                @include breakpoint-down(rem(720)) {
                    font-size: rem(26);
                }
            }

            p {
                margin: 1rem;

                @include breakpoint-down(rem(720)) {
                    font-size: rem(16);
                }
            }

            i {
                font-size: rem(34);
                color: $secondary;

                @include breakpoint-down(rem(1080)) {
                    font-size: rem(28);
                }
            }

            .fa-quote-left {
                width: 100%;
                text-align: start;
            }

            .fa-quote-right {
                width: 100%;
                text-align: end;
            }
        }
    }
}