// Variables

$white: #fff;
$black: #333;
$gray: #bfbfbf;
$background-1: #faf9f6;
$background-2: #f3f2ee;
$orange: #f77f00;
$star: #ffa534;
$brown: #613842;
$tomatos: #ff6347;
$overlay: #00000080;
$primary: $white;
$secondary: $brown;
$font-color: $black;