.destinations {
    position: relative;
    width: 100%;
    background-color: $background-1;
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;

    &-hero {
        position: relative;
        width: 100%;
        height:  calc(100vh - 60px);
        display: flex;
        justify-content: start;
        align-items: center;
        background-color: $gray;
        background-image: url("../../assets/images/hero/destinations.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        &--overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #000;
            opacity: .3;
        }

        &--content {
            position: relative;
            width: 800px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            
            @media screen and (max-width: 980px) {
                width: 100%;
                align-items: center;
            }
        }
    }

    &-content {
        position: relative;
        width: 100%;
        padding: 4rem 0;

        .content-header {
            
            @media screen and (max-width: 840px) {
                padding: 0 1rem;
            }
        }

        .content-info {
            padding: 0 8rem;
        }

        .content-info {
            padding: 0 8rem;

            @media screen and (max-width: 980px) {
                padding: 0 5rem;
            }

            @media screen and (max-width: 840px) {
                padding: 0 1rem;
            }
        }
    }

    &-packages {
        width: 100%;
        padding: 5rem 0 7rem 0;

        .packages-wrapper {
            width: 100%;
            position: relative;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;

            .package-box {
                position: relative;
                width: 350px;
                height: 350px;
                background-color: $white;
                border-radius: 15px;
                cursor: pointer;
                margin: 1rem;
                transition: .5s all ease-in-out;
                overflow: hidden;
                @include box-shadow;
                white-space: nowrap;
                overflow: hidden;

                .package-img {
                    width: 100%;
                    height: 200px;
                    background-color: $gray;
                    border-radius: 15px 15px 0 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    overflow: hidden;

                    @media screen and (max-width: 375px) {
                        height: 180px;
                    }

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        transition: .5s all ease-in-out;
                    }
                }

                .package-price {
                    position: absolute;
                    top: 1.5rem;
                    left: 1.5rem;
                    background-color: $secondary;
                    border-radius: 50px;
                    letter-spacing: 0;
                    font-size: 16px;
                    color: $white;
                    padding: 5px 15px;
                    opacity: .9;
                }

                .package-info {
                    width: 100%;
                    padding: 1.5rem;
                    overflow: hidden;

                    &--location {
                        font-size: 22px;
                        font-weight: 400;
                        color: $black;
                        transition: .5s all ease-in-out;
                        text-transform: capitalize;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }

                    &--country {
                        font-size: 14px;
                        font-weight: 300;
                        margin: .5rem 0;
                        opacity: .8;
                        text-transform: capitalize;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }

                    &--rate-time {
                        width: 100%;
                        margin-top: .8rem;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: space-between;

                        @media screen and (max-width: 375px) {
                            flex-direction: column;
                            align-items: flex-start;
                        }

                        .rate-review {
                            display: flex;
                            flex-direction: row;
                            align-items: center;

                            .rate {
                                display: block;
    
                                i {
                                    font-size: 10px;
                                    letter-spacing: -5px;
                                    color: $star;
                                    margin: 0 4px;
                                }
                            }

                            .review {
                                font-size: 14px;
                                letter-spacing: 0;
                                margin-top: .25rem;
                                margin-left: 1rem;
                                opacity: .7;
                            }
                        }

                        .time {
                            font-size: 14px;
                            letter-spacing: 0;
                            margin-top: .3rem;
                            opacity: .7;

                            i {
                                font-size: 14px;
                                margin-top: .4rem;
                                margin-right: .5rem;
                            }
                        }
                    }
                }
            }

            .package-box:hover {
                @include focus-box-shadow;

                .package-img img {
                    transform: scale(1.1);
                }

                .package-info {

                    &--location {
                        color: $tomatos;
                    }
                }
            }

            .package-9 {
                
                @media screen and (max-width: 1432px) {
                    display: none;
                }
            }

            .package-7,
            .package-8 {
                
                @media screen and (max-width: 849px) {
                    display: none;
                }
            }
        }

        &--view-more-btn {
            width: 100%;
            display: flex;
            justify-content: center;
            margin-top: 3rem;

            button {
                margin: 0 auto;
                font-size: 12px;
                font-weight: 300;
                color: $white;
                background-color: $secondary;
                border: none;
                padding: 16px 34px;
                text-transform: uppercase;
                cursor: pointer;
            }
        }
    }
}
