@use '../utils/' as *;

.display-1 {
    font-family: 'Cormorant Garamond', serif;
    font-size: 6rem;
    font-weight: 600;
    text-transform: capitalize;
    color: $white;
    margin: 0 0 1rem 0;
    letter-spacing: 0;

    @include breakpoint-down(rem(980)) {
        font-size: 5rem;
    }

    @include breakpoint-down(rem(720)) {
        font-size: 4rem;
    }

    @include breakpoint-down(rem(560)) {
        font-size: 3rem;
        text-align: center;
    }
}

.display-2 {
    font-family: 'Cormorant Garamond', serif;
    font-size: rem(28);
    font-weight: 300;
    text-transform: capitalize;
    color: $white;
    margin: 2rem .3rem;

    @include breakpoint-down(rem(980)) {
        font-size: rem(24);
        text-align: center;
    }

    @include breakpoint-down(rem(720)) {
        font-size: rem(20);
    }

    @include breakpoint-down(rem(560)) {
        font-size: rem(18);
    }
}

.content-header {
    font-family: 'Cormorant Garamond', serif;
    font-size: 4rem;
    font-weight: 600;
    color: $secondary;
    margin: 2.5rem 0;
    text-transform: capitalize;
    letter-spacing: 0;
    text-align: center;

    @include breakpoint-down(rem(1200)) {
        font-size: 3rem;
    }

    @include breakpoint-down(rem(720)) {
        font-size: 2.5rem;
    }
}

.content-info {
    font-family: 'Cormorant Garamond', serif;
    font-size: rem(22);
    font-weight: 200;
    letter-spacing: 0;
    margin: 2rem 0;
    line-height: 1.8;

    @include breakpoint-down(rem(720)) {
        font-size: rem(20);
    }
}

.content-link {
    display: block;

    a {
        color: $secondary;
        font-size: rem(12);
        font-weight: 600;
        text-transform: uppercase;
        margin: 1rem 0;

        @include breakpoint-down(rem(720)) {
            font-size: rem(12);
        }
    }
}

.swiper-slide {
    font-family: 'Cormorant Garamond', serif;
    text-align: center;

    h3 {
        font-family: inherit;
        font-size: rem(40);
        font-weight: 400;
        color: $secondary;
        margin: 2rem 0;
    }

    p {
        font-family: inherit;
        font-size: rem(18);
        line-height: 1.8;
    }
}