@use '../utils/' as *;

.contact {
    position: relative;
    width: 100%;
    background-color: $background-1;
    display: flex;
    flex-direction: column;
    margin-bottom: rem(80);

    &-hero {
        position: relative;
        width: 100%;
        height:  calc(100vh - rem(60));
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background-color: $gray;
        background-image: url("../../assets/images/hero/contact.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        &--overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #000;
            opacity: .3;
        }

        &--content {
            position: relative;
            width: rem(800);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;

            @include breakpoint-down(rem(980)) {
                width: 100%;
                align-items: center;
            }
        }
    }

    &-content {
        position: relative;
        width: 100%;
        padding: 4rem 0;

        &--form {
            margin: 4rem 0 0 0;
            background-color: $white;
            padding: 4rem;
            @include box-shadow;

            @include breakpoint-down(rem(560)) {
                padding: 3rem;
            }

            @include breakpoint-down(rem(460)) {
                padding: 2rem;
            }

            form {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            input[type=text], textarea {
                width: 100%;
                padding: rem(12);
                font-family: 'Prompt', sans-serif;
                font-size: rem(14);
                font-weight: 300;
                border: rem(1) solid $gray;
                box-sizing: border-box;
                margin-top: rem(6);
                margin-bottom: rem(16);
                resize: none;
                outline: none;
            }
              
            input[type=submit] {
                color: $white;
                font-weight: 300;
                background-color: $secondary;
                padding: rem(13) rem(50);
                border: none;
                text-transform: uppercase;
                cursor: pointer;
                margin-top: .4rem;

                @include breakpoint-down(rem(960)) {
                    width: fit-content;
                }

                @include breakpoint-down(rem(320)) {
                    width: 100%;
                    padding-left: 0;
                    padding-right: 0;
                }    
            }

            textarea {
                height: rem(250);
            }
        }
        
        .row {
            align-items: center;

            @include breakpoint-down(rem(960)) {
                flex-direction: column;
            }
        }

        .col-4 {
            margin-left: 0;

            @include breakpoint-down(rem(960)) {
                width: fit-content;
                height: fit-content;
                display: flex;
                flex-direction: column;
                margin: 0;
            }
            
            .content-info {
                width: 100%;
                display: flex;
                align-items: center;

                @include breakpoint-down(rem(960)) {
                    margin: 1rem 0;
                }

                @include breakpoint-down(rem(320)) {
                    flex-direction: column;
                }

                i {
                    font-size: rem(40);
                    width: rem(70);
                    text-align: center;

                    @include breakpoint-down(rem(1200)) {
                        font-size: rem(36); 
                    }

                    @include breakpoint-down(rem(640)) {
                        font-size: rem(32);
                    }

                    @include breakpoint-down(rem(320)) {
                        margin-bottom: .5rem; 
                    }
                }

                h3 {
                    font-family: 'Prompt', sans-serif;
                    font-size: rem(22);
                    font-weight: 500;
                    letter-spacing: 0;

                    @include breakpoint-down(rem(1200)) {
                        font-size: rem(20);
                    }

                    @include breakpoint-down(rem(640)) {
                        font-size: rem(18);
                    }
                }

                p {
                    font-size: rem(18);
                    font-weight: 300;
                    letter-spacing: 0;
                    opacity: .7;

                    @include breakpoint-down(rem(1200)) {
                        font-size: rem(16);
                    }

                    @include breakpoint-down(rem(640)) {
                        font-size: rem(14);
                    }
                }
            }
        }

        .col-6 {
            margin-right: 0;

            @include breakpoint-down(rem(960)) {
                margin: 0;
                width: 70%;
            }

            @include breakpoint-down(rem(840)) {
                margin: 0;
                width: 80%;
            }

            @include breakpoint-down(rem(720)) {
                width: 90%;
            }

            @include breakpoint-down(rem(560)) {
                width: 100%;
            }
        }
    }
    
}