@use '../utils/' as *;

.destinations {
    position: relative;
    width: 100%;
    background-color: $background-1;
    display: flex;
    flex-direction: column;
    margin-bottom: rem(60);

    &-hero {
        position: relative;
        width: 100%;
        height:  calc(100vh - rem(60));
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background-color: $gray;
        background-image: url("../../assets/images/hero/destinations.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        &--overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #000;
            opacity: .3;
        }

        &--content {
            position: relative;
            width: rem(800);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;

            @include breakpoint-down(rem(980)) {
                width: 100%;
                align-items: center;
            }
        }
    }

    &-content {
        position: relative;
        width: 100%;
        padding: 4rem 0;

        .content-header {

            @include breakpoint-down(rem(840)) {
                padding: 0 1rem;
            }
        }

        .content-info {
            padding: 0 8rem;
        }

        .content-info {
            padding: 0 8rem;

            @include breakpoint-down(rem(980)) {
                padding: 0 5rem;
            }

            @include breakpoint-down(rem(840)) {
                padding: 0 1rem;
            }
        }
    }

    &-packages {
        width: 100%;
        padding: 5rem 0 7rem 0;

        .packages-wrapper {
            width: 100%;
            position: relative;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;

            .package-box {
                position: relative;
                width: rem(350);
                height: rem(350);
                background-color: $white;
                border-radius: rem(15);
                cursor: pointer;
                margin: 1rem;
                transition: .5s all ease-in-out;
                overflow: hidden;
                @include box-shadow;
                white-space: nowrap;
                overflow: hidden;

                .package-img {
                    width: 100%;
                    height: rem(200);
                    background-color: $gray;
                    border-radius: rem(15) rem(15) 0 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    overflow: hidden;

                    @include breakpoint-down(rem(375)) {
                        height: rem(180);
                    }

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        transition: .5s all ease-in-out;
                    }
                }

                .package-price {
                    position: absolute;
                    top: 1.5rem;
                    left: 1.5rem;
                    background-color: $secondary;
                    border-radius: rem(50);
                    letter-spacing: 0;
                    font-size: rem(16);
                    color: $white;
                    padding: rem(5) rem(15);
                    opacity: .9;
                }

                .package-info {
                    width: 100%;
                    padding: 1.5rem;
                    overflow: hidden;

                    &--location {
                        font-size: rem(22);
                        font-weight: 400;
                        color: $black;
                        transition: .5s all ease-in-out;
                        text-transform: capitalize;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }

                    &--country {
                        font-size: rem(14);
                        font-weight: 300;
                        margin: .5rem 0;
                        opacity: .8;
                        text-transform: capitalize;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }

                    &--rate-time {
                        width: 100%;
                        margin-top: .8rem;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: space-between;

                        @include breakpoint-down(rem(375)) {
                            flex-direction: column;
                            align-items: flex-start;
                        }

                        .rate-review {
                            display: flex;
                            flex-direction: row;
                            align-items: center;

                            .rate {
                                display: block;
    
                                i {
                                    font-size: rem(10);
                                    letter-spacing: rem(-5);
                                    color: $star;
                                    margin: 0 rem(4);
                                }
                            }

                            .review {
                                font-size: rem(14);
                                letter-spacing: 0;
                                margin-top: .25rem;
                                margin-left: 1rem;
                                opacity: .7;
                            }
                        }

                        .time {
                            font-size: rem(14);
                            letter-spacing: 0;
                            margin-top: .3rem;
                            opacity: .7;

                            i {
                                font-size: rem(14);
                                margin-top: .4rem;
                                margin-right: .5rem;
                            }
                        }
                    }
                }
            }

            .package-box:hover {
                @include focus-box-shadow;

                .package-img img {
                    transform: scale(1.1);
                }

                .package-info {

                    &--location {
                        color: $tomatos;
                    }
                }
            }

            .package-9 {

                @include breakpoint-down(rem(1432)) {
                    display: none;
                }
            }

            .package-7,
            .package-8 {

                @include breakpoint-down(rem(849)) {
                    display: none;
                }
            }
        }

        &--view-more-btn {
            width: 100%;
            display: flex;
            justify-content: center;
            margin-top: 3rem;

            button {
                margin: 0 auto;
                font-size: rem(12);
                font-weight: 300;
                color: $white;
                background-color: $secondary;
                border: none;
                padding: rem(16) rem(34);
                text-transform: uppercase;
                cursor: pointer;
            }
        }
    }
}
