@use '../utils/' as *;

.home {
    width: 100%;
    height: 100vh;

    .home-hero {
        width: 100%;
        height:  100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    
        &--video {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: -1;
            

           video {
                display: block;

                @media (min-aspect-ratio: 16/9) {
                    width: 100%;
                    height: auto;
                }
                
                @media (max-aspect-ratio: 16/9) {
                    width: auto;
                    height: 100%;
                }
           }
        }

        &--overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #000;
            opacity: .3;
        }

        &--content {
            position: relative;
            display: block;
            width: rem(800);

            @include breakpoint-down(rem(980)) {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        }
    }

}