@import url("https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato|Roboto+Slab:700");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #333;
  font-family: "Prompt", sans-serif;
  letter-spacing: 0.15rem;
  user-select: none;
}

html {
  scroll-behavior: smooth;
  background-color: #fff;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}

body {
  position: relative;
  overflow: hidden;
}

img {
  pointer-events: none;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style-type: none;
}

.container {
  width: 80%;
  margin: 0 auto;
  position: relative;
}
@media screen and (max-width: 1320px) {
  .container {
    width: 86%;
  }
}
@media screen and (max-width: 1225px) {
  .container {
    width: 90%;
  }
}

.active {
  color: #613842 !important;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.col-3 {
  width: 30%;
  height: auto;
  margin: 0 3rem;
}

.col-4 {
  width: 40%;
  height: auto;
  margin: 0 3rem;
}

.col-5 {
  width: 50%;
  height: auto;
  margin: 0 3rem;
}

.col-6 {
  width: 60%;
  height: auto;
  margin: 0 3rem;
}

.col-7 {
  width: 70%;
  height: auto;
  margin: 0 3rem;
}

.transparent {
  background: transparent !important;
}

.relative {
  position: relative !important;
}

.index-0 {
  z-index: 0 !important;
}

section {
  margin-top: 60px;
}

.flex-start {
  display: flex;
  justify-content: flex-start !important;
}

.text-center {
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
}

.hero-btn {
  display: block;
  position: relative;
}
.hero-btn .btn:hover .btn-circle {
  animation: btn-up-down 0.5s alternate infinite;
}
@keyframes btn-up-down {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-6px);
  }
}

.nav-list li {
  width: fit-content;
  position: relative;
  padding: 0.1rem 0;
}
.nav-list li a::after {
  content: "";
  display: block;
  width: 100%;
  height: 0.1rem;
  background-color: #613842;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-in-out;
}
.nav-list li a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}
.nav-list li .active::after {
  transform: scaleX(1);
  transform-origin: left;
}

.content-link {
  width: fit-content;
  position: relative;
}
.content-link a::after {
  content: "";
  display: block;
  width: 100%;
  height: 0.1rem;
  background-color: #613842;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: scaleX(1);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
}
.content-link a:hover::after {
  transform: scaleX(0);
  transform-origin: right;
}

.fadeIn {
  animation: fade-in 0.4s linear 1 forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fadeOut {
  animation: fade-out 0.4s linear 1 forwards;
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.hero-btn {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 720px) {
  .hero-btn {
    display: none;
  }
}
.hero-btn .btn {
  display: flex;
  align-items: center;
  margin: 0.7rem;
  cursor: pointer;
  position: relative;
}
.hero-btn .btn span {
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  margin-right: 0.5rem;
}
.hero-btn .btn .btn-circle {
  width: 30px;
  height: 30px;
  border: 1px solid #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-btn .btn .btn-circle i {
  display: inline-block;
  color: #fff;
  margin-left: 2px;
}

.return-top-btn {
  display: block;
  position: fixed;
  bottom: 6rem;
  right: 4rem;
  width: 2.8rem;
  height: 2.8rem;
  background-color: #613842;
  font-size: 18px;
  outline: none;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s all ease-in-out;
  z-index: 99;
}
@media screen and (max-width: 1320px) {
  .return-top-btn {
    display: none !important;
  }
}
.return-top-btn i {
  color: #fff;
  margin-left: 1px;
}

.return-top-btn:hover {
  transform: scale(0.85);
}

.display-1 {
  font-family: "Cormorant Garamond", serif;
  font-size: 6rem;
  font-weight: 600;
  text-transform: capitalize;
  color: #fff;
  margin: 0 0 1rem 0;
  letter-spacing: 0;
}
@media screen and (max-width: 980px) {
  .display-1 {
    font-size: 5rem;
  }
}
@media screen and (max-width: 720px) {
  .display-1 {
    font-size: 4rem;
  }
}
@media screen and (max-width: 560px) {
  .display-1 {
    font-size: 3rem;
    text-align: center;
  }
}

.display-2 {
  font-family: "Cormorant Garamond", serif;
  font-size: 28px;
  font-weight: 300;
  text-transform: capitalize;
  color: #fff;
  margin: 2rem 0.3rem;
}
@media screen and (max-width: 980px) {
  .display-2 {
    font-size: 24px;
    text-align: center;
  }
}
@media screen and (max-width: 720px) {
  .display-2 {
    font-size: 20px;
  }
}
@media screen and (max-width: 560px) {
  .display-2 {
    font-size: 18px;
  }
}

.content-header {
  font-family: "Cormorant Garamond", serif;
  font-size: 4rem;
  font-weight: 600;
  color: #613842;
  margin: 2.5rem 0;
  text-transform: capitalize;
  letter-spacing: 0;
  text-align: center;
}
@media screen and (max-width: 1200px) {
  .content-header {
    font-size: 3rem;
  }
}
@media screen and (max-width: 720px) {
  .content-header {
    font-size: 2.5rem;
  }
}

.content-info {
  font-family: "Cormorant Garamond", serif;
  font-size: 22px;
  font-weight: 200;
  letter-spacing: 0;
  margin: 2rem 0;
  line-height: 1.8;
}
@media screen and (max-width: 720px) {
  .content-info {
    font-size: 20px;
  }
}

.content-link {
  display: block;
}
.content-link a {
  color: #613842;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 1rem 0;
}
@media screen and (max-width: 720px) {
  .content-link a {
    font-size: 12px;
  }
}

.swiper-slide {
  font-family: "Cormorant Garamond", serif;
  text-align: center;
}
.swiper-slide h3 {
  font-family: inherit;
  font-size: 40px;
  font-weight: 400;
  color: #613842;
  margin: 2rem 0;
}
.swiper-slide p {
  font-family: inherit;
  font-size: 18px;
  line-height: 1.8;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
  transition: 0.3s all ease-in-out;
  -webkit-box-shadow: 0px 0px 45px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 45px 10px rgba(0, 0, 0, 0.1);
}
.navbar nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar nav .logo {
  font-size: 28px;
  font-weight: 700;
  text-transform: uppercase;
}
@media screen and (max-width: 480px) {
  .navbar nav .logo {
    font-size: 25px;
  }
}
.navbar nav .nav-list {
  display: block;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}
@media screen and (min-width: 1081px) {
  .navbar nav .nav-list {
    display: block !important;
    opacity: 1 !important;
  }
}
@media screen and (max-width: 1080px) {
  .navbar nav .nav-list {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    width: 90%;
    height: 300px;
    -webkit-box-shadow: 0px 0px 45px 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 45px 10px rgba(0, 0, 0, 0.1);
  }
  .navbar nav .nav-list ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
}
.navbar nav .nav-list li {
  display: inline-block;
  margin: 1rem;
}
.navbar nav .nav-list li:hover {
  color: #613842;
}
.navbar nav .hamburger {
  display: none;
}
@media screen and (max-width: 1080px) {
  .navbar nav .hamburger {
    display: block;
  }
}
.navbar nav .hamburger svg {
  width: 50px;
  height: 50px;
}
@media screen and (max-width: 480px) {
  .navbar nav .hamburger svg {
    width: 42px;
    height: 42px;
  }
}
.navbar nav .hamburger button {
  display: flex;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}
.navbar nav .hamburger .line {
  fill: none;
  stroke: black;
  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navbar nav .hamburger .line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.navbar nav .hamburger .line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}
.navbar nav .hamburger .line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.navbar nav .hamburger .opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
.navbar nav .hamburger .opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}
.navbar nav .hamburger .opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
@media screen and (max-width: 720px) {
  .footer {
    height: 130px;
  }
}
.footer--content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 720px) {
  .footer--content {
    flex-direction: column-reverse;
  }
}
.footer--content .copyright {
  font-size: 12px;
  font-weight: 300;
}
@media screen and (max-width: 720px) {
  .footer--content .copyright {
    font-size: 11px;
    text-align: center;
  }
}
.footer--content .copyright span {
  color: #613842;
  font-weight: 500;
  transition: 0.3s all ease-in-out;
}
.footer--content .copyright span:hover {
  color: #613842;
}
.footer--content .social-media i {
  font-size: 30px;
  color: #333;
  margin: 0 0.2rem;
  cursor: pointer;
  transition: 0.3s all ease-in-out;
  opacity: 0.9;
}
@media screen and (max-width: 720px) {
  .footer--content .social-media i {
    margin-bottom: 1.5rem;
    font-size: 30px;
  }
}
.footer--content .social-media i:hover {
  color: #613842;
  opacity: 1;
}

.why-choose-us {
  margin: 0 !important;
  background-color: #f3f2ee;
}
.why-choose-us .content-header {
  margin: 0;
  padding-top: 6rem;
}
.why-choose-us .swiper {
  position: relative;
  width: 70%;
  height: auto;
  background-color: #f3f2ee;
  padding: 3rem 0 6rem 0;
  overflow: visible;
  text-align: center;
  background-color: transparent;
  overflow: hidden;
}
@media screen and (max-width: 1320px) {
  .why-choose-us .swiper {
    padding-bottom: 1rem;
  }
}
.why-choose-us .swiper .swiper-wrapper {
  display: flex;
  align-items: center;
  width: 900px;
}
@media screen and (max-width: 1020px) {
  .why-choose-us .swiper .swiper-wrapper {
    width: 90%;
  }
}
.why-choose-us .swiper .swiper-slide {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: transparent;
  padding: 2rem;
  opacity: 1;
  text-align: center;
  width: auto;
}
@media screen and (max-width: 1020px) {
  .why-choose-us .swiper .swiper-slide {
    padding: 4rem;
  }
}
@media screen and (max-width: 860px) {
  .why-choose-us .swiper .swiper-slide {
    padding: 3rem 2rem;
  }
}
.why-choose-us .swiper .swiper-slide h3 {
  font-size: 42px;
  font-weight: 500;
  text-transform: capitalize;
}
@media screen and (max-width: 860px) {
  .why-choose-us .swiper .swiper-slide h3 {
    font-size: 36px;
    margin: 1rem 0;
  }
}
@media screen and (max-width: 720px) {
  .why-choose-us .swiper .swiper-slide h3 {
    font-size: 30px;
  }
}
.why-choose-us .swiper .swiper-slide p {
  font-size: 20px;
}
@media screen and (max-width: 860px) {
  .why-choose-us .swiper .swiper-slide p {
    font-size: 18px;
  }
}
.why-choose-us .swiper .swiper-slide i {
  font-size: 40px;
  color: #613842;
}
@media screen and (max-width: 860px) {
  .why-choose-us .swiper .swiper-slide i {
    font-size: 34px;
  }
}
@media screen and (max-width: 720px) {
  .why-choose-us .swiper .swiper-slide i {
    font-size: 30px;
  }
}

.testimonial {
  width: 100%;
  background-color: #faf9f6;
  padding: 3rem 0;
}
.testimonial .content-header {
  margin-bottom: 1rem;
}
.testimonial .swiper {
  position: relative;
  width: 70%;
  height: auto;
  background-color: transparent;
  overflow: hidden;
  text-align: center;
}
@media screen and (max-width: 1320px) {
  .testimonial .swiper {
    width: 80%;
  }
}
@media screen and (max-width: 860px) {
  .testimonial .swiper {
    width: 90%;
  }
}
.testimonial .swiper .swiper-wrapper {
  display: flex;
  align-items: center;
  width: 900px;
}
@media screen and (max-width: 1080px) {
  .testimonial .swiper .swiper-wrapper {
    width: 90%;
  }
}
.testimonial .swiper .swiper-wrapper .swiper-slide {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: transparent;
  padding: 3rem;
}
@media screen and (max-width: 1320px) {
  .testimonial .swiper .swiper-wrapper .swiper-slide {
    width: 100%;
  }
}
@media screen and (max-width: 720px) {
  .testimonial .swiper .swiper-wrapper .swiper-slide {
    width: 100%;
    padding-bottom: 6rem;
  }
}
.testimonial .swiper .swiper-wrapper h3 {
  font-size: 30px;
  font-weight: 500;
  margin: 0;
}
@media screen and (max-width: 720px) {
  .testimonial .swiper .swiper-wrapper h3 {
    font-size: 26px;
  }
}
.testimonial .swiper .swiper-wrapper p {
  margin: 1rem;
}
@media screen and (max-width: 720px) {
  .testimonial .swiper .swiper-wrapper p {
    font-size: 16px;
  }
}
.testimonial .swiper .swiper-wrapper i {
  font-size: 34px;
  color: #613842;
}
@media screen and (max-width: 1080px) {
  .testimonial .swiper .swiper-wrapper i {
    font-size: 28px;
  }
}
.testimonial .swiper .swiper-wrapper .fa-quote-left {
  width: 100%;
  text-align: start;
}
.testimonial .swiper .swiper-wrapper .fa-quote-right {
  width: 100%;
  text-align: end;
}

.home {
  width: 100%;
  height: 100vh;
}
.home .home-hero {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
}
.home .home-hero--video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
}
.home .home-hero--video video {
  display: block;
}
@media (min-aspect-ratio: 16/9) {
  .home .home-hero--video video {
    width: 100%;
    height: auto;
  }
}
@media (max-aspect-ratio: 16/9) {
  .home .home-hero--video video {
    width: auto;
    height: 100%;
  }
}
.home .home-hero--overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.3;
}
.home .home-hero--content {
  position: relative;
  display: block;
  width: 800px;
}
@media screen and (max-width: 980px) {
  .home .home-hero--content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.about {
  position: relative;
  width: 100%;
  background-color: #faf9f6;
}
.about-hero {
  position: relative;
  width: 100%;
  height: calc(100vh - 60px);
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: #bfbfbf;
  background-image: url("../../assets/images/hero/about.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.about-hero--overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.3;
}
.about-hero--content {
  position: relative;
  width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
@media screen and (max-width: 980px) {
  .about-hero--content {
    width: 100%;
    align-items: center;
  }
}
.about-content {
  position: relative;
  width: 100%;
  padding: 7rem 0;
}
@media screen and (max-width: 1200px) {
  .about-content {
    text-align: center;
    padding: 4rem 0;
  }
}
.about-content .content-header {
  text-align: start;
}
@media screen and (max-width: 1200px) {
  .about-content .content-header {
    text-align: center;
  }
}
.about-content--img {
  width: 520px;
  height: 680px;
  border: 0;
  outline: none;
  margin: 0 auto;
}
@media screen and (max-width: 1200px) {
  .about-content--img {
    padding-top: 3rem;
    width: 450px;
    height: auto;
    margin-bottom: 3rem;
  }
}
@media screen and (max-width: 1200px) and (max-width: 860px) {
  .about-content--img {
    width: 80%;
  }
}
@media screen and (max-width: 1200px) and (max-width: 480px) {
  .about-content--img {
    width: 90%;
  }
}
.about-content--img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media screen and (max-width: 1200px) {
  .about-content .row {
    flex-direction: column-reverse;
  }
}
.about-content .col-5:first-child {
  margin-left: 0;
}
@media screen and (max-width: 1200px) {
  .about-content .col-5:first-child {
    margin: 0;
    width: 80%;
  }
}
@media screen and (max-width: 480px) {
  .about-content .col-5:first-child {
    width: 90%;
  }
}
.about-content .col-5:last-child {
  margin-right: 0;
}
@media screen and (max-width: 1200px) {
  .about-content .col-5:last-child {
    width: 80%;
  }
}
@media screen and (max-width: 720px) {
  .about-content .col-5:last-child {
    margin: 0;
    width: 90%;
  }
}

.our-team {
  width: 100%;
  padding: 4rem 0;
  background-color: #faf9f6;
  margin: 0 !important;
}
.our-team .content-info {
  padding: 0 8rem;
  text-align: center;
}
@media screen and (max-width: 1320px) {
  .our-team .content-info {
    padding: 0 4rem;
  }
}
@media screen and (max-width: 720px) {
  .our-team .content-info {
    padding: 0 2rem;
  }
}
@media screen and (max-width: 540px) {
  .our-team .content-info {
    padding: 0 1rem;
  }
}
.our-team--teams {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 4rem;
}
@media screen and (max-width: 1180px) {
  .our-team--teams {
    padding: 0 3rem;
  }
}
@media screen and (max-width: 1120px) {
  .our-team--teams {
    padding: 0;
  }
}
.our-team--teams .teams-wrapper {
  width: 210px;
  height: 300px;
  background-color: transparent;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
@media screen and (max-width: 1180px) {
  .our-team--teams .teams-wrapper {
    width: 270px;
    height: 350px;
    margin: 1rem;
    padding: 1rem;
    letter-spacing: 0;
  }
}
@media screen and (max-width: 1120px) {
  .our-team--teams .teams-wrapper {
    margin: 0;
  }
}
@media screen and (max-width: 720px) {
  .our-team--teams .teams-wrapper {
    width: 240px;
  }
}
.our-team--teams .teams-wrapper .teams-img {
  display: block;
  width: 110px;
  height: 110px;
  background-color: #bfbfbf;
  border-radius: 50%;
  margin: 0.5rem;
  margin-top: 0;
  overflow: hidden;
}
@media screen and (max-width: 1180px) {
  .our-team--teams .teams-wrapper .teams-img {
    width: 150px;
    height: 150px;
    margin: 1rem;
  }
}
@media screen and (max-width: 720px) {
  .our-team--teams .teams-wrapper .teams-img {
    width: 120px;
    height: 120px;
  }
}
.our-team--teams .teams-wrapper .teams-img img {
  opacity: 0.9;
}
.our-team--teams .teams-wrapper .teams-img .team-1 {
  opacity: 1 !important;
}
.our-team--teams .teams-wrapper .teams-name {
  width: 100%;
  height: 50px;
  margin-top: 0.8rem;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 720px) {
  .our-team--teams .teams-wrapper .teams-name {
    font-size: 14px;
  }
}
.our-team--teams .teams-wrapper .teams-position {
  font-size: 14px;
  opacity: 0.8;
  letter-spacing: 0;
  margin-top: 0.3rem;
}
@media screen and (max-width: 1180px) {
  .our-team--teams .teams-wrapper .teams-position {
    font-size: 16px;
  }
}
@media screen and (max-width: 720px) {
  .our-team--teams .teams-wrapper .teams-position {
    font-size: 14px;
  }
}
.our-team--teams .teams-wrapper .teams-social-media {
  width: 120px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1rem;
}
@media screen and (max-width: 1180px) {
  .our-team--teams .teams-wrapper .teams-social-media {
    width: 140px;
  }
}
@media screen and (max-width: 720px) {
  .our-team--teams .teams-wrapper .teams-social-media {
    width: 120px;
  }
}
.our-team--teams .teams-wrapper .teams-social-media i {
  font-size: 18px;
  opacity: 0.7;
  cursor: pointer;
  transition: 0.3s all ease-in-out;
}
@media screen and (max-width: 1180px) {
  .our-team--teams .teams-wrapper .teams-social-media i {
    font-size: 20px;
  }
}
@media screen and (max-width: 720px) {
  .our-team--teams .teams-wrapper .teams-social-media i {
    width: 18px;
  }
}
.our-team--teams .teams-wrapper .teams-social-media i:hover {
  color: #613842;
  opacity: 1;
}

.work-with-us {
  background-color: #f3f2ee;
  padding: 7rem 0;
  margin: 0 !important;
  margin-bottom: 60px !important;
}
.work-with-us--img {
  width: 480px;
  height: 640px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 1180px) {
  .work-with-us--img {
    width: 100%;
    height: auto;
  }
}
@media screen and (max-width: 920px) {
  .work-with-us--img {
    width: 60%;
  }
}
@media screen and (max-width: 480px) {
  .work-with-us--img {
    width: 80%;
  }
}
.work-with-us--img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.work-with-us--link {
  margin-bottom: 1rem;
}
@media screen and (max-width: 920px) {
  .work-with-us .row {
    flex-direction: column;
    text-align: center;
  }
}
.work-with-us .content-info {
  margin-top: 0;
}
.work-with-us .col-5:first-child {
  display: flex;
  justify-content: flex-end;
}
@media screen and (max-width: 920px) {
  .work-with-us .col-5:first-child {
    width: 100%;
    justify-content: center;
  }
}
.work-with-us .col-5:last-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (max-width: 920px) {
  .work-with-us .col-5:last-child {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
  }
}

.contact {
  position: relative;
  width: 100%;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  margin-bottom: 80px;
}
.contact-hero {
  position: relative;
  width: 100%;
  height: calc(100vh - 60px);
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: #bfbfbf;
  background-image: url("../../assets/images/hero/contact.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.contact-hero--overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.3;
}
.contact-hero--content {
  position: relative;
  width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
@media screen and (max-width: 980px) {
  .contact-hero--content {
    width: 100%;
    align-items: center;
  }
}
.contact-content {
  position: relative;
  width: 100%;
  padding: 4rem 0;
}
.contact-content--form {
  margin: 4rem 0 0 0;
  background-color: #fff;
  padding: 4rem;
  -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
@media screen and (max-width: 560px) {
  .contact-content--form {
    padding: 3rem;
  }
}
@media screen and (max-width: 460px) {
  .contact-content--form {
    padding: 2rem;
  }
}
.contact-content--form form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact-content--form input[type=text], .contact-content--form textarea {
  width: 100%;
  padding: 12px;
  font-family: "Prompt", sans-serif;
  font-size: 14px;
  font-weight: 300;
  border: 1px solid #bfbfbf;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: none;
  outline: none;
}
.contact-content--form input[type=submit] {
  color: #fff;
  font-weight: 300;
  background-color: #613842;
  padding: 13px 50px;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 0.4rem;
}
@media screen and (max-width: 960px) {
  .contact-content--form input[type=submit] {
    width: fit-content;
  }
}
@media screen and (max-width: 320px) {
  .contact-content--form input[type=submit] {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}
.contact-content--form textarea {
  height: 250px;
}
.contact-content .row {
  align-items: center;
}
@media screen and (max-width: 960px) {
  .contact-content .row {
    flex-direction: column;
  }
}
.contact-content .col-4 {
  margin-left: 0;
}
@media screen and (max-width: 960px) {
  .contact-content .col-4 {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    margin: 0;
  }
}
.contact-content .col-4 .content-info {
  width: 100%;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 960px) {
  .contact-content .col-4 .content-info {
    margin: 1rem 0;
  }
}
@media screen and (max-width: 320px) {
  .contact-content .col-4 .content-info {
    flex-direction: column;
  }
}
.contact-content .col-4 .content-info i {
  font-size: 40px;
  width: 70px;
  text-align: center;
}
@media screen and (max-width: 1200px) {
  .contact-content .col-4 .content-info i {
    font-size: 36px;
  }
}
@media screen and (max-width: 640px) {
  .contact-content .col-4 .content-info i {
    font-size: 32px;
  }
}
@media screen and (max-width: 320px) {
  .contact-content .col-4 .content-info i {
    margin-bottom: 0.5rem;
  }
}
.contact-content .col-4 .content-info h3 {
  font-family: "Prompt", sans-serif;
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 0;
}
@media screen and (max-width: 1200px) {
  .contact-content .col-4 .content-info h3 {
    font-size: 20px;
  }
}
@media screen and (max-width: 640px) {
  .contact-content .col-4 .content-info h3 {
    font-size: 18px;
  }
}
.contact-content .col-4 .content-info p {
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0;
  opacity: 0.7;
}
@media screen and (max-width: 1200px) {
  .contact-content .col-4 .content-info p {
    font-size: 16px;
  }
}
@media screen and (max-width: 640px) {
  .contact-content .col-4 .content-info p {
    font-size: 14px;
  }
}
.contact-content .col-6 {
  margin-right: 0;
}
@media screen and (max-width: 960px) {
  .contact-content .col-6 {
    margin: 0;
    width: 70%;
  }
}
@media screen and (max-width: 840px) {
  .contact-content .col-6 {
    margin: 0;
    width: 80%;
  }
}
@media screen and (max-width: 720px) {
  .contact-content .col-6 {
    width: 90%;
  }
}
@media screen and (max-width: 560px) {
  .contact-content .col-6 {
    width: 100%;
  }
}

.experience {
  position: relative;
  width: 100%;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
}
.experience-hero {
  position: relative;
  width: 100%;
  height: calc(100vh - 60px);
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: #bfbfbf;
  background-image: url("../../assets/images/hero/experience.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.experience-hero--overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.3;
}
.experience-hero--content {
  position: relative;
  width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
@media screen and (max-width: 980px) {
  .experience-hero--content {
    width: 100%;
    align-items: center;
  }
}
.experience-content {
  position: relative;
  width: 100%;
  padding: 4rem 0;
}
@media screen and (max-width: 840px) {
  .experience-content .content-header {
    padding: 0 1rem;
  }
}
.experience-content .content-info {
  padding: 0 8rem;
}
@media screen and (max-width: 980px) {
  .experience-content .content-info {
    padding: 0 5rem;
  }
}
@media screen and (max-width: 840px) {
  .experience-content .content-info {
    padding: 0 1rem;
  }
}
.experience .recent-trips {
  width: 100%;
  background-color: #faf9f6;
}
.experience .recent-trips--content {
  width: 100%;
  padding-bottom: 5rem;
}
.experience .recent-trips-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.experience .recent-trips-box {
  width: 350px;
  height: 350px;
  margin: 1rem;
  background-color: #fff;
  border-radius: 15px;
  overflow: hidden;
  transition: 0.5s all ease-in-out;
  cursor: pointer;
  -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.experience .recent-trips-box:hover {
  -webkit-box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.experience .recent-trips-box:hover .recent-trips-info--title {
  color: #ff6347;
}
.experience .recent-trips-box:hover img {
  transform: scale(1.1);
}
.experience .recent-trips-img {
  width: 100%;
  height: 210px;
  background-color: #bfbfbf;
  border-radius: 15px 15px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 0.5s all ease-in-out;
}
.experience .recent-trips-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s all ease-in-out;
}
.experience .recent-trips-info {
  width: 100%;
  position: relative;
  padding: 1.5rem;
}
.experience .recent-trips-info--date {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  opacity: 0.7;
}
.experience .recent-trips-info--title {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  margin-top: 1rem;
  text-transform: capitalize;
  transition: 0.5s all ease-in-out;
  overflow: hidden;
  display: -webkit-box !important;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: normal;
}
.experience .speak-to-us {
  width: 100%;
  padding: 6rem 0 10rem 0;
  background-color: #f3f2ee;
}
.experience .speak-to-us .row {
  align-items: flex-start;
}
@media screen and (max-width: 1080px) {
  .experience .speak-to-us .row {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.experience .speak-to-us .row .col-5:first-child {
  margin-right: 0;
  position: relative;
  padding-right: 5rem;
  padding-top: 1rem;
}
@media screen and (max-width: 1080px) {
  .experience .speak-to-us .row .col-5:first-child {
    width: 80% !important;
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    padding: 0;
    margin: 0;
  }
}
.experience .speak-to-us .row .col-5:first-child .img {
  width: 100%;
  display: block;
}
@media screen and (max-width: 1080px) {
  .experience .speak-to-us .row .col-5:first-child .img {
    width: fit-content;
    height: fit-content;
    margin-bottom: 3rem;
    display: flex;
    justify-content: center;
  }
}
.experience .speak-to-us .row .col-5:first-child .img--backward {
  position: relative;
  width: 100%;
  height: auto;
}
@media screen and (max-width: 1080px) {
  .experience .speak-to-us .row .col-5:first-child .img--backward {
    width: 400px;
    height: 400px;
  }
}
@media screen and (max-width: 740px) {
  .experience .speak-to-us .row .col-5:first-child .img--backward {
    width: 80%;
    height: 80%;
  }
}
.experience .speak-to-us .row .col-5:first-child .img--backward img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.experience .speak-to-us .row .col-5:first-child .img--foreward {
  position: absolute;
  top: 16rem;
  right: 0;
  width: 60%;
  height: auto;
}
@media screen and (max-width: 1200px) {
  .experience .speak-to-us .row .col-5:first-child .img--foreward {
    top: 14.5rem;
  }
}
@media screen and (max-width: 1080px) {
  .experience .speak-to-us .row .col-5:first-child .img--foreward {
    display: none;
  }
}
.experience .speak-to-us .row .col-5:first-child .img--foreward img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.experience .speak-to-us .row .col-5:last-child {
  margin-left: 0;
  padding-top: 1.5rem;
}
@media screen and (max-width: 1080px) {
  .experience .speak-to-us .row .col-5:last-child {
    width: 80% !important;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center !important;
    align-items: center !important;
    margin: 0;
  }
}
@media screen and (max-width: 860px) {
  .experience .speak-to-us .row .col-5:last-child {
    width: 90% !important;
  }
}
.experience .speak-to-us .row .col-5:last-child .content-header {
  text-align: start;
  position: relative;
}
@media screen and (max-width: 1080px) {
  .experience .speak-to-us .row .col-5:last-child .content-header {
    text-align: center;
  }
}
.experience .speak-to-us .row .col-5:last-child .content-header::before {
  content: "MADE TO MEASURE";
  display: block;
  position: absolute;
  top: -4rem;
  left: 0;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.15rem;
  color: #333;
  font-family: "Prompt", sans-serif;
  opacity: 0.8;
  margin-top: 1.5rem;
}
@media screen and (max-width: 1080px) {
  .experience .speak-to-us .row .col-5:last-child .content-header::before {
    left: 50%;
    transform: translateX(-50%);
  }
}
@media screen and (max-width: 720px) {
  .experience .speak-to-us .row .col-5:last-child .content-header::before {
    font-size: 12px;
    width: 100%;
  }
}
.experience .speak-to-us .row .col-5:last-child .content-info {
  margin-left: 5rem;
}
@media screen and (max-width: 1080px) {
  .experience .speak-to-us .row .col-5:last-child .content-info {
    margin-left: 0;
  }
}
.experience .speak-to-us .row .col-5:last-child .content-link {
  margin-left: 5rem;
}
@media screen and (max-width: 1080px) {
  .experience .speak-to-us .row .col-5:last-child .content-link {
    margin-left: 0;
  }
}

.destinations {
  position: relative;
  width: 100%;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
}
.destinations-hero {
  position: relative;
  width: 100%;
  height: calc(100vh - 60px);
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: #bfbfbf;
  background-image: url("../../assets/images/hero/destinations.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.destinations-hero--overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.3;
}
.destinations-hero--content {
  position: relative;
  width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
@media screen and (max-width: 980px) {
  .destinations-hero--content {
    width: 100%;
    align-items: center;
  }
}
.destinations-content {
  position: relative;
  width: 100%;
  padding: 4rem 0;
}
@media screen and (max-width: 840px) {
  .destinations-content .content-header {
    padding: 0 1rem;
  }
}
.destinations-content .content-info {
  padding: 0 8rem;
}
.destinations-content .content-info {
  padding: 0 8rem;
}
@media screen and (max-width: 980px) {
  .destinations-content .content-info {
    padding: 0 5rem;
  }
}
@media screen and (max-width: 840px) {
  .destinations-content .content-info {
    padding: 0 1rem;
  }
}
.destinations-packages {
  width: 100%;
  padding: 5rem 0 7rem 0;
}
.destinations-packages .packages-wrapper {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.destinations-packages .packages-wrapper .package-box {
  position: relative;
  width: 350px;
  height: 350px;
  background-color: #fff;
  border-radius: 15px;
  cursor: pointer;
  margin: 1rem;
  transition: 0.5s all ease-in-out;
  overflow: hidden;
  -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  white-space: nowrap;
  overflow: hidden;
}
.destinations-packages .packages-wrapper .package-box .package-img {
  width: 100%;
  height: 200px;
  background-color: #bfbfbf;
  border-radius: 15px 15px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
@media screen and (max-width: 375px) {
  .destinations-packages .packages-wrapper .package-box .package-img {
    height: 180px;
  }
}
.destinations-packages .packages-wrapper .package-box .package-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s all ease-in-out;
}
.destinations-packages .packages-wrapper .package-box .package-price {
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  background-color: #613842;
  border-radius: 50px;
  letter-spacing: 0;
  font-size: 16px;
  color: #fff;
  padding: 5px 15px;
  opacity: 0.9;
}
.destinations-packages .packages-wrapper .package-box .package-info {
  width: 100%;
  padding: 1.5rem;
  overflow: hidden;
}
.destinations-packages .packages-wrapper .package-box .package-info--location {
  font-size: 22px;
  font-weight: 400;
  color: #333;
  transition: 0.5s all ease-in-out;
  text-transform: capitalize;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.destinations-packages .packages-wrapper .package-box .package-info--country {
  font-size: 14px;
  font-weight: 300;
  margin: 0.5rem 0;
  opacity: 0.8;
  text-transform: capitalize;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.destinations-packages .packages-wrapper .package-box .package-info--rate-time {
  width: 100%;
  margin-top: 0.8rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 375px) {
  .destinations-packages .packages-wrapper .package-box .package-info--rate-time {
    flex-direction: column;
    align-items: flex-start;
  }
}
.destinations-packages .packages-wrapper .package-box .package-info--rate-time .rate-review {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.destinations-packages .packages-wrapper .package-box .package-info--rate-time .rate-review .rate {
  display: block;
}
.destinations-packages .packages-wrapper .package-box .package-info--rate-time .rate-review .rate i {
  font-size: 10px;
  letter-spacing: -5px;
  color: #ffa534;
  margin: 0 4px;
}
.destinations-packages .packages-wrapper .package-box .package-info--rate-time .rate-review .review {
  font-size: 14px;
  letter-spacing: 0;
  margin-top: 0.25rem;
  margin-left: 1rem;
  opacity: 0.7;
}
.destinations-packages .packages-wrapper .package-box .package-info--rate-time .time {
  font-size: 14px;
  letter-spacing: 0;
  margin-top: 0.3rem;
  opacity: 0.7;
}
.destinations-packages .packages-wrapper .package-box .package-info--rate-time .time i {
  font-size: 14px;
  margin-top: 0.4rem;
  margin-right: 0.5rem;
}
.destinations-packages .packages-wrapper .package-box:hover {
  -webkit-box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.destinations-packages .packages-wrapper .package-box:hover .package-img img {
  transform: scale(1.1);
}
.destinations-packages .packages-wrapper .package-box:hover .package-info--location {
  color: #ff6347;
}
@media screen and (max-width: 1432px) {
  .destinations-packages .packages-wrapper .package-9 {
    display: none;
  }
}
@media screen and (max-width: 849px) {
  .destinations-packages .packages-wrapper .package-7,
.destinations-packages .packages-wrapper .package-8 {
    display: none;
  }
}
.destinations-packages--view-more-btn {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}
.destinations-packages--view-more-btn button {
  margin: 0 auto;
  font-size: 12px;
  font-weight: 300;
  color: #fff;
  background-color: #613842;
  border: none;
  padding: 16px 34px;
  text-transform: uppercase;
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
